<figure class="text-center">
  <h1 class="font-italic">Users List</h1>
</figure>

<div class="search-container container">
  <div class="search-input-container">
    <input type="text" placeholder="Search by name" class="search-input" (input)="performSearch()" />
  </div>
</div>

<table class="container">
  <thead>
    <tr>
      <th>Id</th>
      <th style="font-family: 'Arial', sans-serif; font-size: 18px;">Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Password</th>
      <th>Numero</th>
      <th>City</th>
      <th>Company</th>
      <th>Role</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of customers">
      <td>{{c.id}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'firstName', $event)">{{c.firstName}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'lastName', $event)">{{c.lastName}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'email', $event)">{{c.email}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'password', $event)">{{c.password}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'phoneNumber', $event)">{{c.phoneNumber}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'city', $event)">{{c.city}}</td>
      <td contenteditable="true" (blur)="updateField(c, 'company', $event)">{{c.company}}</td>
      <td>
        <ul>
          <li *ngFor="let role of c.roles; let i = index" contenteditable="true" (blur)="updateRoles(c, i, role)">
            {{role}}
          </li>
        </ul>
      </td>
      <td>
        <button class="btn btn-success rounded" (click)="updateCustomer(c)" style="cursor: pointer;">Modifier</button>
      </td>
      <td>
        <button class="btn btn-danger rounded" (click)="deleteCustomer(c.id)" style="cursor: pointer;">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
