<div class="container mt-5">
  <h2 class="text-center mb-4">User Profile</h2>
  
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="bg-light" style="width: 30%;">First Name:</th>
            <td>{{ userName }}</td>
          </tr>
          <tr>
            <th class="bg-light">Last Name:</th>
            <td>{{ userLastName }}</td>
          </tr>
          <tr>
            <th class="bg-light">Email:</th>
            <td>{{ userEmail }}</td>
          </tr>
          <tr>
            <th class="bg-light">Company:</th>
            <td>{{ userCompany }}</td>
          </tr>
          <tr>
            <th class="bg-light">City:</th>
            <td>{{ userCity }}</td>
          </tr>
          <tr>
            <th class="bg-light">Phone Number:</th>
            <td>{{ userPhoneNumber }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
